body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background: #4CAF80;
  color: white;
  padding: 10px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.dropdown-menu,
.theme-dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4CAF80;
  min-width: 160px;
  z-index: 1;
  padding: 10px;
}

.dropdown-menu:hover .dropdown-content,
.theme-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p,
.dropdown-content a {
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.dropdown-content a {
  color: #1046a9;
  margin: 5px 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

#search-input {
  padding: 5px;
  margin-left: 10px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.create-account,
.login,
#submit-search {
  background-color: #fff;
  color: #4CAF80;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.create-account:hover,
.login:hover {
  background-color: #e0e0e0;
}

.paragraph1 {
  display: flex;
  align-items: center;
}

.paragraph1 p {
  margin-left: 20px;
}

.paragraph1 .image-box {
  max-width: 100%;
  height: auto;
}

.image-box {
  display: flex;
  flex-direction: column;
}

.article-image {
  margin-left: 20px;
  max-width: 400px;
  height: auto;
}


#intern-layout-table {
  width: 100%;
  border-collapse: collapse;
}

#intern-layout-table th,
#intern-layout-table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

#intern-layout-table th {
  background-color: #f2f2f2;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #4CAF80;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
